:root{
    --colorTheme: rgba(118, 232, 83, 0.642);
}

body, html {
  margin: 0;
  padding: 0;
}

/* rgba(118, 232, 83, 0.642) */

* {
    font-family: Raleway;
}

.hidden{
    display: none;
}


ul, h4, h2, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

select, input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
}

button {
    padding: 6px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
    background-color: var(--colorTheme);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #404040;
    cursor: pointer;
}


#topSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

#leftSidebar {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}


#headerContainer {
  background-color: var(--colorTheme);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#changeColorContainer {
  display: flex;
  align-items: center;
}

#changeColorContainer select {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#newMemberContainer {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#newMemberForm{
    display: flex;
    flex-direction: column;
}

#teamContainer {
    /* border: 1px solid red; */
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(244, 248, 250);
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#currentTeamContainer {
    /* border: 1px solid red; */
    border-radius: 10px;
    /* background-color: rgb(255, 255, 255); */
    margin: 10px;
    padding: 10px;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

#memberCardContainer {
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 0.447);
    margin: 10px;
    padding: 8px;
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.deleteIcon {
    width: 12px;
    height: 12px;
}

.deleteIconContainer {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}



#memberCardContainer:hover{
    transform: scale(1.05);
}

#memberCardContainer span {
    font-size: 0.75rem;
    padding: 2px 10px;
    border-radius: 12px;
    display: inline-block;
    background-color: var(--colorTheme);
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50px;
    text-align: center;
    margin-top: 10px;
}

#memberCardContainer .deleteIconContainer {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#memberCardContainer:hover .deleteIconContainer {
    opacity: 1;
}

#memberCardContainer span:hover {
    background-color: #d9d7d7;
}

#filterSortContainer {
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(244, 248, 250);
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 10px;
}

#filterSortContainer h2 {
    text-align: center;
}

#filterSortContainer p {
    font-weight: 800;
    text-align: center;
}

#addTaskContainer{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(244, 248, 250);
    justify-content: end;
}

#addTaskContainer button{
    width: 15%;
}

#taskBoard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#taskColumnsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.taskColumn {
  flex: 1;
  min-height: 927px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(244, 248, 250);
  border: 1px solid lightgray;
  text-align: center;
  align-items: stretch;
}

.taskColumn h3 {
    font-size: x-large;
}

.taskCard {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  height: auto;
  padding: 16px;
  margin: 12px;
  margin-bottom: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: var(--colorTheme);
  transition-duration: 150ms;
  align-items: center;
  text-align: center;
}

.taskCard:hover{
    transform: scale(1.05);
}


.taskCard h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 800;
  font-size: larger;
  color: #1a1a1a;
  text-align: center;
}

.taskCard p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #5a5a5a;
}

.taskCard span {
    font-size: 0.75rem;
    padding: 5px 12px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.717);
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin: 8px 0;
    display: inline-block;
    min-width: 80px;
    text-align: center;
}

.taskCard select,
.taskCard option,
.taskCard button {
  color: #393939;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.717);
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 0;
  height: 32px; 
  width: 50%;
}

.taskCard .deleteIconContainer {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.taskCard:hover .deleteIconContainer {
  opacity: 1;
}


select:hover,
button:hover {
    background-color: #f1f1f1;
}

#deleteButton {
    background-color: rgba(255, 255, 255, 0.717);;
}
#deleteButton:hover {
    background-color: #c62828;
    color: white;
}

.taskCard,
#memberCardContainer {
  position: relative;
}

#searchTaskContainer{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(244, 248, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#searchTaskContainer input{
  margin-top: 5px;
}

#searchTaskContainer h2{
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

#topTaskBoardContainer {
    display: flex;
    gap: 20px;
}


#addTaskContainer,
#searchTaskContainer {
  flex: 1;
  max-width: 100%;
}

